.appwidget-createaccount .field-name {
    text-align: right;
    width: 125px;
    vertical-align: top;
}

.appwidget-createaccount .field-desc {
    color: #666;
    margin-bottom: 0;
}

.appwidget-createaccount .tos-blurb {
    margin-bottom: 0;
}

.appwidget-createaccount #tips_box_arrow {
    display: none;
    position: absolute;
    background: url(/img/create/tip-arrow.png) no-repeat;
    width: 12px;
    height: 19px;
    z-index: 100;
    left: 489px;
}

.appwidget-createaccount #tips_box {
    display: none;
    position: absolute;
    background-color: #fcf6db;
    border: 1px solid #ffdfc0;
    padding: 10px;
    width: 300px;
    left: 500px;
}

.appwidget-createaccount .create-button {
    color: #fff;
    background-color: #213368;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.appwidget-createaccount #username_check,
.appwidget-createaccount #username_error {
    display: none;
}

span.appwidget-createaccount #username_check,
span.appwidget-createaccount #username_error {
    display: block;
    width: 330px;
}

.appwidget-createaccount #username_error_inner {
    font-weight: bold;
}

.create-form span.formitemFlag {
    display: block;
    width: 330px;
}

.liveid {
	float: left; 
	background: url(/img/liveid.gif) no-repeat 0 0; 
	padding-top: 35px; 
	min-width: 150px; 
	margin: 10px 0 20px;
	zoom: 1;
}

.liveid UL {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.liveid UL LI {
	clear: both;
	margin-top: 7px; 
	overflow: hidden;
}

.liveid LI INPUT {
	float: left;
	position: relative;
	top: -2px;
	margin-right: 6px;
}
.liveid LI .signbtn {
	float: left;
	clear: left;
	margin: 3px 0 0 22px;
	_margin: 3px 0 0 14px;
	position: relative;
}

.liveid LI .comment {
	display: block;
	font-size: .85em;
	color: #555;
}

.liveid LI .signbtn SPAN {
	padding-right: .6em;
}

.liveid LI .signbtn INPUT {
	width: auto;
	float: none;
	position: relative;
}


.liveid LI LABEL {
	float: left;
	height: 1%;
	zoom: 1;
}
