/* for update.bml */

/* .pkg class wraps enclosing block element around inner floated elements */
.pkg:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
.pkg { display: inline-block; }
/* no ie mac \*/
* html .pkg { height: 1%; }
.pkg[class] { height: auto; }
.pkg { display: block; }
/* */

.small {
    font-size: 85%;
    margin-left: 6px;
}

#updateForm {
    font-family: arial, verdana, 'sans-serif';
    min-width: 600px;
}
#updateForm iframe {
    margin: none;
    padding: none;
}
#updateForm p {
    clear: left;
    margin: 0 0 6px 0;
    position: relative;
    line-height: 1.8em;
}
#updateForm label.left {
    display: block;
    float: left;
    width: 6em;
    line-height: 1.8em;
    font-size: 14px;
}
#updateForm input.text {
    float: left;
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    font-size: 13px;
    padding: 2px 2px;
    background: url(/img/input-bg.gif) repeat-x 0 -1px;
    margin: 0px 3px 0px 0px;
}
#updateForm select {
    float: left;
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    font-size: 13px;
    padding: 2px 1px 1px 1px;
    margin: 0px 3px 0px 0px;
}
#updateForm .float-left {
    float: left;
}
#updateForm span.inputgroup-left {
    display: block; float: left; width: 41%; position: relative;
}
#updateForm span.inputgroup-right {
    display: block; float: right; width: 57%;  position: relative;
}
#updateForm span.inputgroup-right label.left {
    width: 11em;
}
#updateForm a.helplink {
    margin-left: 5px;
    margin-top: 4px;
    float: left;
}
#updateForm h4 {
    margin: 0 0 4px 0;
    padding: 0;
}
#updateForm ul {
    margin: 0;
    padding: 0;
}
#updateForm ul li {
    margin: 0 0 4px 0;
    padding: 0;
}
#userpic {
    float: left;
    margin-right: 10px;
    width: 100px;
}
#lj_userpicselect {
    float: left;
    font-size: 85%;
    color: #00C    
    margin: 4px 0px 0px 5px;
}
#metainfo {
    float: left;
    margin-right: 10px;
    width: 55%;
    margin-bottom: 20px;
}
#currentdate-edit {
    font-size: 85%;
    margin-left: 5px;
}
#infobox {
    border-left: 1px solid #000;
    padding-left: 10px;
    float: right;
    margin-bottom: 10px;
}
#infobox ul {
    list-style: none;
}
#entry {
    clear: both;
    border-bottom: 1px solid #6699CC;
    padding: 0px;
    margin: 0px;
}
#entry p {
    margin: 0 !important;
}
#entry ul {
    float: right;
    clear: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#entry ul li {
    float: left;
    margin: 0 4px 0 0;
    background: url(/img/entry-tab-off-l.gif) no-repeat 0 0;
}
#entry ul li a {
    display: block;
    padding: 8px 10px;
    background: url(/img/entry-tab-off-r.gif) no-repeat right top;
    float: left;
    outline: none;
}
#entry ul li.on {
    background: url(/img/entry-tab-on-l.gif) no-repeat 0 0;
}

#entry ul li.on a {
    color: #fff !important;
    font-weight: bold;
    background: url(/img/entry-tab-on-r.gif) no-repeat right top;
}
#metainfo, #metainfo label, #metainfo input.text, #metainfo strong {
    font-size: 14px;
}
#metainfo p, #metainfo label, #metainfo label.left {
    line-height: 1.5em ;
}
#subject {
    width: 62%;
    font-size: 16px;
    margin-bottom: 8px;
}
#draft-container {
    border: 1px solid #ccc;
    border-top: 1px solid #6699CC;
    margin-bottom: 5px;
}
#draft {
    display: block;
    width: 100%;
    border: none;
}
#draftstatus {
    font-style: italic;
    background-color: #E4EDF6;
    margin: 0 !important;
    padding: 0 8px;
    font-size: 85%;
}
#htmltools {
    padding: 4px 0;
    position: relative;
}
#htmltools ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
#htmltools ul li {
    float: left;
margin: 0 4px 0 0;
padding: 0;
}
#htmltools ul li a {
    display: block;
    overflow: hidden;
    float: left;
    height: 19px;
            text-indent: -10000px;
}
#htmltools ul li.image a {
    width: 20px;
    background: url(/img/html-buttons-img.gif) no-repeat 0 0;
}
#htmltools ul li.image a:hover {
    background: url(/img/html-buttons-img-over.gif) no-repeat 0 0;
}
#htmltools ul li.movie a {
    width: 24px;
    background: url(/img/html-buttons-movie.gif) no-repeat 0 0;
}
#htmltools ul li.movie a:hover {
    background: url(/img/html-buttons-movie-over.gif) no-repeat 0 0;
}
#htmltools ul li.list a {
    width: 21px;
    background: url(/img/html-buttons-list.gif) no-repeat 0 0;
}                              
#htmltools ul li.list a:hover {
    background: url(/img/html-buttons-list-over.gif) no-repeat 0 0;
}   
#linebreaks {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 100%;
}
#prop_taglist {
    width: 80%;
}
#prop_current_moodid {
    width: 40%;
}
#prop_current_mood {
    width: 20%;
}
#prop_opt_backdated {
    clear: left;
    display: block;
    float: left;
    margin-left: 6.5em;
}
#modifydate label.right {
    float: left;
    display: block;
    font-size: 90%;
    line-height: 200%;
}
#modifydate a.helplink {
    float: left;
    display: block;
}
#mood_preview {
    float: left;
    position: absolute;
    left: 80%;
}
#prop_current_music,
#prop_current_location {
    width: 63%;
}
#submitbar {
    background-color: #eee;
    padding: 7px 10px;
    margin-top: 6px;
    text-align: center;
    position: relative;
}
#security_container {
    width: 600px;
    margin: 0 auto;
}
#security {
    float: none !important;
}
#custom_boxes {
    display: none;
    text-align:left;
    float: left;
}
.cb_1 {
    margin-left: 235px;
}
.cb_2 {
    margin-left: 160px;
}
* html .cb_2 {
    margin-left: 80px;
}
.cb_3 {
    margin-left: 90px;
}
* html .cb_3 {
    margin-left: 0;
}
.cb_4 {
    margin-left: 0;
}
.custom_boxes_col {
    width: 140px;
    clear: none;
    float: left;
    margin: 0 10px 0 0;
    padding: 8px 0 0 0;
}
#custom_boxes p {
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 120%;
    text-indent: -25px;
}
#security-help {
    position: absolute;
    right: 10px;
    top: 0.9em;
}

