#Content {
    margin: 0 30px;
    padding: 0;
    min-width: 740px;
}
* html #Content {height: 1%;}

/*
SET MINIMUM WIDTHS
*/

body.fixedwidth-1col #Content,
body.fixedwidth-2col-left #Content,
body.fixedwidth-2col-right #Content {
    min-width: 770px;
    width: 770px /* will apply to IE only */;
}
/* reset width for good browsers */
html>body.fixedwidth-1col #Content,
html>body.fixedwidth-2col-left #Content,
html>body.fixedwidth-2col-right #Content {
    width: auto;
}
body.fixedwidth-1col.tertiary-left #Content,
body.fixedwidth-1col.tertiary-right #Content,
body.fixedwidth-2col-left.tertiary-left #Content,
body.fixedwidth-2col-left.tertiary-right #Content,
body.fixedwidth-2col-right.tertiary-left #Content,
body.fixedwidth-2col-right.tertiary-right #Content {
    min-width: 960px;
    width: 960px /* will apply to IE only */;
}
html>body.fixedwidth-1col.tertiary-left #Content,
html>body.fixedwidth-1col.tertiary-right #Content,
html>body.fixedwidth-2col-left.tertiary-left #Content,
html>body.fixedwidth-2col-left.tertiary-right #Content,
html>body.fixedwidth-2col-right.tertiary-left #Content,
html>body.fixedwidth-2col-right.tertiary-right #Content {
    width: auto;
}

/*
SET COLUMNS
*/
.column {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
body.tertiary-left .column,
body.tertiary-right .column {
    min-height: 800px;
}

#ColumnWrapper, #ContentColumnWrapper { position: relative; }
* html #ColumnWrapper {height: 1%;}
* html #ContentColumnWrapper {height: 1%;}

body.fullwidth-1col #ColumnWrapper {  }
body.fullwidth-1col #ContentColumnWrapper {  }
body.fullwidth-1col #primary { width: 100%; }
body.fullwidth-1col #secondary { display: none; }

/* fullwidth-2col where one column is 300px wide */

body.fullwidth-2col-left #ColumnWrapper {  }
body.fullwidth-2col-left #ContentColumnWrapper { padding-left: 320px; }
body.fullwidth-2col-left .column { float: right; }
body.fullwidth-2col-left #primary { width: 100%; }
body.fullwidth-2col-left #secondary { width: 300px; padding-right: 20px; margin-left: -320px; }

body.fullwidth-2col-right #ColumnWrapper {  }
body.fullwidth-2col-right #ContentColumnWrapper { padding-right: 320px; }
body.fullwidth-2col-right #primary { width: 100%; }
body.fullwidth-2col-right #secondary { width: 300px; padding-left: 20px; margin-right: -320px; }

/* fullwidth-2col-liquid */

body.fullwidth-2col-liquid-left #ColumnWrapper {  }
body.fullwidth-2col-liquid-left #ContentColumnWrapper {  }
body.fullwidth-2col-liquid-left .column { float: right; }
body.fullwidth-2col-liquid-left #primary { width: 70%; }
body.fullwidth-2col-liquid-left #secondary { width: 28%; padding-right: 2%; }

body.fullwidth-2col-liquid-right #ColumnWrapper {  }
body.fullwidth-2col-liquid-right #ContentColumnWrapper {  }
body.fullwidth-2col-liquid-right #primary { width: 70%; }
body.fullwidth-2col-liquid-right #secondary { width: 28%; padding-left: 2%; }

/*  */

body.fixedwidth-1col #ColumnWrapper {  }
body.fixedwidth-1col #ContentColumnWrapper {  }
body.fixedwidth-1col #primary { width: 740px; }
body.fixedwidth-1col #secondary { display: none; }

body.fixedwidth-2col-left #ColumnWrapper { width: 740px; }
body.fixedwidth-2col-left #ContentColumnWrapper {  }
body.fixedwidth-2col-left .column { float: right; }
body.fixedwidth-2col-left #primary { width: 420px; }
body.fixedwidth-2col-left #secondary { width: 300px; margin-right: 20px; }

body.fixedwidth-2col-right #ColumnWrapper { float: left; width: 740px; }
body.fixedwidth-2col-right #ContentColumnWrapper {  }
body.fixedwidth-2col-right #primary { width: 420px; }
body.fixedwidth-2col-right #secondary { width: 300px; margin-left: 20px; }


/*
GAMMA
This column is for skyscraper ad only
*/
    
#tertiary { display: none; }
body.tertiary-left #ColumnWrapper { padding-left: 180px; }
body.tertiary-right #ColumnWrapper { padding-right: 180px; }

body.tertiary-left #tertiary,
body.tertiary-right #tertiary {
    display: block;
    position: absolute;
    top: 0px;
}
body.tertiary-left #tertiary {
    left: 0;
    width: 160px;
}
body.tertiary-right #tertiary {
    right: 0;
    width: 160px;
}
body.fixedwidth-2col-left.tertiary-right #tertiary,
body.fixedwidth-1col.tertiary-right #tertiary {
    left: 760px;
}
